{{ define "main" }}

<h1>About</h1>
{{ with .Site.Params.description}}
<p> 
  {{ . }}  
</p>
{{end}}
<h1>Latest posts</h1>
<br/>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<div style="justify-content:center;width:100%; display:flex; flex-wrap:wrap;gap:2em">
{{ with .Site.Params.linkedin }}
   <a target="_blank" href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Site.Params.github }}
   <a target="_blank" href="{{ . }}">Github</a>
{{ end }}
</div>
{{ end }}
